/* home.html */
@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}

* {
    box-sizing: initial;
    font-family: nunito;
    letter-spacing: 1;
}
/* banner-top */
.banner-top{
    overflow: hidden;
    height: 60vh;
    margin: 10px !important;
    border-radius: 15px;
    background-image: url(https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /* background-attachment: fixed; */
}

/* header */
.logohead .logo {
    left: 30px;
    top: 20px;
    position: absolute;
}

.logohead .logo {
    text-decoration: none;
    font-size: 20px;
    color: #4f5963;
    background: white;
    padding: 2px 5px;
}

.navbar .top-nav {
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 15px;
}

nav {
    background: transparent;
    min-height: 50px;
}

.navbar-toggler {
    outline: none;
}

.nav-links ul li {
    list-style: none;
    display: inline-flex;
    padding: 0 10px;
}

.nav-links ul li a {
    font-size: medium;
    text-decoration: none;
    color: white;
    /* color: #2d6063; */
    font-family: nunito;
    letter-spacing: 1px;
}

/* intro-side-left */
.banner-top .banner-intro-1{
    /* background: rgba(255, 255, 255, 0.295); */
    text-align: center;
    margin: 20px auto;
    padding: 30px;
    /* background-color: rgba(255, 255, 255, 0.267); */
}

.banner-top .banner-intro-1 .b-intro-text{
    border-bottom: 2px solid white ;
    margin: 30px auto;
}

.banner-top .banner-intro-1 p{
    color: white;
    font-size: calc(1.5rem + 1.2vw);
    /* text-shadow: 0 0 2px yellow    ;  */
}

.banner-top .banner-intro-1 .b-intro-link{
    margin: 13px 5px 0 5px;
}

.banner-top .banner-intro-1 .b-intro-link a{
    text-decoration: none;
    padding: 10px 25px;
    background: #325288;
    color: white;
    font-size: 18px;
    border-radius: 100px;
    border: 2px solid white;
    opacity: .9;
}

.banner-top .banner-intro-1 .b-intro-link a:hover{
    opacity: 1;
}

.top-search{
    display: none;
}

.top-search input:focus{
    outline: none;
}

.top-search input::placeholder{
    color: white;
    }

.top-search input{
    padding: 10px 15px;
    border-radius: 100px;
    border: 2px solid white;
    background-color: #4f5963;
    font-size: 17px;
}
/* ------------------------------------------------------- */
/* ---- webtools--- */
.wt-heading p{
    font-size: calc(1.5rem + 1.0vw);
    color: #4f5963;
    font-weight: 900;
}

.wt-heading{
    margin: 10px auto 5px auto;
    text-align: center;
}

.tool-right{
    border: 2px solid #f5f5fa;
    border-radius: 20px;
}

.tool-right .pdf-tools, .html-tb, .alg-calc, .num-con, .clr-pel, .clr-whl{
    background: #f5f5fa;
    margin: 10px;
    font-size: large;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

.tool-right a{
    text-decoration: none;
    color: #4f5963;
    opacity: .9;
}

.tool-right a:hover{
    opacity: 1;
    color: #325288;
}

.tool-right a .tool-ln > i{
    font-size: 35px;
    margin: 10px;
}

/* ------------------------------------------ about area ---- */
.about-area{
    overflow: hidden;
    background: #f5f5fa;
}

.about-left .about-text{
    width: 70%;
    margin: auto;
}

.about-area .about-left {
    padding: 30px;
    text-align: center;
}

.about-left p{
    line-height: 30px;
    font-size: 18px;
    color: #4f5963;
    letter-spacing: 1px;
}

.about-area h4{
    color: #325288;
}

.about-left h4 a{
    text-decoration: none;
    color: #325288;
}

.about-left h4 a:hover{
    color: #5d98ff;
}


.h-l{
    width: 50%;
    margin: auto;
}

.h-l hr{
    color: #325288;
    font-size: 10px;
}


.about-area .ab-card{
    background: #325288;
    margin: 10px auto;
    border-radius: 15px;
    padding: 30px;
    max-width: 400px;
    opacity: .9;
}

.quick-card a{
    text-decoration: none;
    color: #f5f5fa;
    font-size: 18px;
}

.quick-card a:hover, .about-area .ab-card{
    color: white;
    opacity: 1;
}

/* -------------------- Blog area ------------------------------ */

.blog-box a{
    text-decoration: none;
}

.blog-area{
    overflow: hidden;
}

.blog-card{
    background: #f5f5fa;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}

.blog-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.blog-card .post-heading{
    font-size: 20px;
    color: #325288;
    font-weight: 900;
    margin-top: 10px;
    padding: 0 10px;
}

.blog-card .post-brief{
    color: #4f5963;
    padding: 0 10px;
}

.blog-card .read-more{
    background: #325288;
    color: #f5f5fa;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}

.blog-card .read-more p{
    margin: 0;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* responsive */
@media screen and (min-width:300px){
    .b-intro-text{
        max-width: 80%;
    }
}

@media screen and (min-width:480px){
    .b-intro-text{
        max-width: 50%;
    }
}

@media screen and (min-width:576px){
    .b-intro-text{
        max-width: 60%;
    }
}

@media screen and (min-width:768px){
    .b-intro-text{
        max-width: 80%;
    }
}

@media (min-width: 992px) { 
    .b-intro-text{
        max-width: 80%;
    }
}

.footer{    
    overflow: hidden;
    min-height: 400px;
    background: #325288;
    border-radius: 15px;
    margin: 10px !important;
    color: white;
    padding: 20px;
}

.foot{
    margin: 20px;
}

.fcol{
    padding: 20px;
    text-align: center;
}

.fcol p{
    color: white;
}

.footer .h-l hr{
    color: #f5f5fa !important;
}

.footer .wt-heading p{
    color: #f5f5fa;
}

.fc-01 .post-brief{
    padding: 10px;
}

.fc-01 .f-social{
    margin-top: 10px;
    font-size: 22px;
}

.fc-01 .box a{
    text-decoration: none;
    color: #325288;
}

.fc-01 .box{
    background: #ebebf1;
    padding: 10px;
    border-radius: 10px;
}

.fc-01 .box p{
    color: #325288;
}

.fcol ul{
    padding: 0;
}


.fcol li{
    list-style: none;
    margin: 10px auto;
}

.fcol li a{
    text-decoration:  none;
    color: #f5f5fa;
}

.fcol li a:hover{
    color: #5d98ff;
}
